<h1>Edit your profile</h1>

<form method="POST">
    {{#rows}}
        <div class="first-name">
            <input type="text" name="first" value="{{first}}" />
            <label for="first">First Name</label></div>
        <div class="last-name"><input
                type="text"
                name="last"
                value="{{last}}"
            /><label for="last">Last Name</label></div>
        <div class="email">
            <input type="text" name="email" value="{{email}}" />
            <label for="email">Email Address</label></div>
        <div class="password"><input
                type="text"
                name="password"
                id="password"
            />
            <label for="password">Password</label></div>
        <div class="age">
            <input type="text" name="age" value="{{age}}" />
            <label for="age">Age</label></div>
        <div class="city">
            <input type="text" name="city" value="{{city}}" />
            <label for="city">City</label></div>
        <div class="homepage">
            <input type="text" name="homepage" value="{{homepage}}" />
            <label for="homepage">Homepage</label></div>

        <button> Update </button>
        {{#if update}} <h2>Your profile was updated!</h2>{{/if}}
    {{/rows}}

    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
</form>